[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/SukiSU-Ultra/SukiSU-Ultra.git
	branch = fix
[submodule "AnyKernel3"]
	path = AnyKernel3
	url = https://github.com/Roynas-Android-Playground/kernel_packaging_anykernel3
	branch = for-exynos7885-unversioned
